@mixin minMedium {
    @media(min-width:992px){ 
        @content
    } 
 }

//  @mixin over{
//      position: absolute;
//      width:100%;
//      height:100%;
//      top:0;
//      left:0;
//      background-color: rgba($color: #333, $alpha:0.8);
//  }

// overlay mixin
 @mixin  overlay{
    position: absolute;
     width:100%;
     height:100%;
     top:0;
     left:0;
     background-color: rgba($color: #333, $alpha:0.8);
 }

//  prefixes mixin (auto add prefixes to properties)
 @mixin prefixer($property,$value,$prefixes:()) {
     @each $prefix in $prefixes {
         #{'-'+ $prefix+'-'+ $property}:$value;
     }
     #{$property}:$value;
 }

 //animation mixin ( auto add prefixes toanimation)
 @mixin myKeyFrame($animation) {
    @-webkit-keyframes #{$animation}{
        @content;
    }
    @-moz-keyframes #{$animation}{
        @content;
    }
    @keyframes #{$animation}{
        @content;
    }
 }
